OPENROUTER_API_KEY=
BASE_URL=https://openrouter.ai/api/v1
DEBUG=False
LOG_LEVEL=INFO
MAX_TOKENS=1000
TEMPERATURE=0.7


NOTIFICATION_METHOD=telegram #email
LOW_BALANCE_THRESHOLD=10.0

SMTP_SERVER=smtp.email.com
SMTP_PORT=укажи_порт
SMTP_EMAIL=логин@email.ru
SMTP_PASSWORD=введи_выданный_пароль
ADMIN_EMAIL=твой@email.ru


TELEGRAM_BOT_TOKEN=введи_токен
TELEGRAM_CHAT_ID=введи_id_пользователя_кому_будут_поступать_уведомления
